.Graphisme {
    // height: 2100px;
    background-color: $color6;



    .top_line{
        height: 100px;
        @media screen and (max-width:950px) {
            height: 60px;
        }
        background-color: $color6;
        
    }
    .flux {
        max-width: 1600px;
        margin: 0 auto;
    }
    h3{
        color: $color1;
        font-size: 2.5rem;
        @media screen and (max-width:768px) {
            font-size: 1.8rem;
        }
    }
   
    .logo_projets{
        margin: 20px 0 60px 0;
        border: 2px solid $color1;
        display: grid;
        grid-template-columns: 20% 80%;
        align-items: center;
        justify-items: center;
        @media screen and (max-width:1000px) {
            display: flex;
            flex-direction: column;    
        };
        .partie1{
            padding: 20px 0 20px 0;

        }
        .partie2{
            padding: 20px 40px 20px 40px;
            @media screen and (max-width:950px) {
                padding: 10px 20px 10px 20px;
                
            }
            background-color: #2c3968;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            flex-wrap: wrap;
            img{
                border: 1px solid $color2;
                cursor: pointer;
                width: 15%;
                padding: 10px;
                @media screen and (max-width:1200px){
                    width: 140px;
                }
                @media screen and (max-width:768px){
                    width: 100px;
                }
                
            }
        }
    }

    .mockup_projets{
        margin: 20px 0 60px 0;
        display: grid;
        grid-template-columns: 80% 20%;
        align-items: center;
        justify-items: center;
        border: 2px solid $color1;
        @media screen and (max-width:1000px) {
            display: flex;
            flex-direction: column;   
            .box:first-child { order: 2;}
            .box:last-child { order: 1;} 
        };
        .mock_part2{
            padding: 20px 40px 20px 40px;
            @media screen and (max-width:950px) {
                padding: 10px 20px 10px 20px;
                
            }
            background-color: #2c3968;
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-wrap: wrap;
            width: 100%;
            img {
                cursor: pointer;
                width: 15%;
                padding: 10px;
                border: 1px solid $color2;
                
                @media screen and (max-width:1000px) {
                    width: 140px;
             };
                @media screen and (max-width:768px) {
                    width: 100px;
             };
            }
        }
        .mock_part1{
            padding: 20px 0 20px 0;
        }
    }

    .flyers_projets{
        margin: 20px 0 60px 0;
        display: grid;
        grid-template-columns: 20% 80%;
        align-items: center;
        justify-items: center;
        border: 2px solid $color1;
        @media screen and (max-width:1000px) {
            display: flex;
            flex-direction: column;    
        };
        .flyers_part1{
            padding: 20px 0 20px 0;
        }
        .flyers_part2{
            padding: 20px 40px 20px 40px;
            @media screen and (max-width:950px) {
                padding: 10px 20px 10px 20px;
                
            }
            background-color: #2c3968;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;
            width: 100%;
            
            img {
                height: 350px;
                cursor: pointer;
                padding: 10px;
                border: 1px solid $color2;
                @media screen and (max-width:1300px) {
                    height: 300px;
             };
                @media screen and (max-width:1000px) {
                    height: 205px;
             };
                @media screen and (max-width:768px) {
                    height: 150px;
             };
            }
        }
    }
    .clic_scale{
        position: relative;

    }

    .Projet_ecole {
        margin: 20px 0 20px 0;
        display: grid;
        grid-template-columns: 80% 20%;
        align-items: center;
        justify-items: center;
        border: 2px solid $color1;
        @media screen and (max-width:1000px) {
            display: flex;
            flex-direction: column;  
            .ecole_box:first-child { order: 2;}
            .ecole_box:last-child { order: 1;}  
        };
        .ecole_part1{
            padding: 20px 40px 20px 40px;
            @media screen and (max-width:950px) {
                padding: 10px 20px 10px 20px;
                
            }
            background-color: #2c3968;
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-wrap: wrap;
            width: 100%;
            img {
                cursor: pointer;
                height: 650px;
                padding: 5px;
                border: 1px solid $color2;
                @media screen and (max-width:1300px) {
                    height: 500px;
             };
                @media screen and (max-width:950px) {
                       height: 325px;
                };
                @media screen and (max-width:768px) {
                       height: 280px;
                };
            }
        }
        .ecole_part2{
            padding: 20px 0 20px 0;
            text-align: center;
            
        }
    }
    .bot_line {
        height: 100px;
        background-color: $color6;
    }
}
